
<div class="container pt-4 mt-4">
    <div class="row">
        <div class="col">
            <!-- QUESTÕES -->
            <div class="row justify-content-end">
                <div class="col-8">
                    <nav aria-label="Page navigation" class="text-center">
                        <ul class="pagination">
                          <li class="page-item" [class.disabled]="currentPage === 1">
                            <a class="page-link" (click)="onPageChange(currentPage - 1)" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                            </a>
                          </li>
                          <li class="page-item" *ngFor="let page of getPages()" [class.active]="page === currentPage">
                            <a class="page-link" (click)="onPageChange(page)">{{ page }}</a>
                          </li>
                          <li class="page-item" [class.disabled]="currentPage === totalPages()">
                            <a class="page-link" (click)="onPageChange(currentPage + 1)" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                            </a>
                          </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-4">
                    <div class="input-group mb-4">
                        <input type="number" min="1" class="form-control border border-2" 
                        aria-label="itens por página" aria-describedby="reloadBtn"
                        autosize name="pageSize" id="pageSize" [(ngModel)]="pageSize">
                        <button id="reloadBtn" class="btn btn-light btn-sm"
                        (click)="loadData()"><i class="bi bi-arrow-clockwise"></i></button>                               
                    </div>
                </div>
            </div>
            <span *ngIf="questions.length==0" class="text-center text-muted mt-4 fw-italic">
                <br><br><br>
                <div class="alert alert-light" role="alert">
                    <p><em>Crie questões e em seguida salve no banco de dados.</em></p>
                    <button type="button" class="btn btn-outline-dard m-2" routerLink="new">
                        <i class="bi bi-robot"></i> Criar questões
                    </button>
                </div>
            </span>
            <span *ngIf="questions.length>0">
<!--                 <span *ngFor="let question of questions; let iQuestions=index">
                    <app-question [question]="questions[iQuestions]" [isEditable]="true"></app-question>
                </span> -->
                <div class="card mb-4 animate__animated animate__fadeIn" 
                *ngFor="let question of questions; let iQuestions=index">
                    <div class="card-header">
                        #{{iQuestions+1}} 
                    </div>
                    <div class="card-body">
                        <span>
                            <span class="badge rounded-pill text-bg-light mb-4 me-1" 
                                *ngFor="let category of question.categories">
                                {{decodificarSequenciasUnicode(category)}}
                            </span>
                        </span>
                        <span [innerHTML]="question.statement"></span>
                    </div>
                    <div class="card-body">
                        <div class="list-group">
                            <button type="button" 
                            class="list-group-item list-group-item-action"
                            *ngFor="let alternative of question.alternatives; let iAlternative=index"
                            [ngClass]="{
                                'bg-light text-success fw-bold': iAlternative==question.answer
                            }">
                            <span [innerHTML]="alternative"></span>
                            </button>
                        </div>
                    </div>
                    <div class="card-body mt-4">
                        <h6 class="display-6">Solução comentada</h6>
                        <span [innerHTML]="question.comment"></span>
                    </div>
                    <div class="card-footer text-end">
                        <button class="btn btn-outline-primary btn-sm m-1" 
                        type="button" 
                        data-bs-toggle="modal"
                        data-bs-target="#editQuestion"
                        (click)="editQuestion=question;">
                        <i class="bi bi-pencil-square"></i> Editar</button>

                        <button class="btn btn-danger btn-sm m-1" 
                            (click)="removeQuestion(question._id)">
                            <i class="bi bi-trash"></i> Remover
                        </button>
                    </div>
                </div>
            </span>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 text-center flex">
            <nav aria-label="Page navigation" class="text-center">
                <ul class="pagination">
                  <li class="page-item" [class.disabled]="currentPage === 1">
                    <a class="page-link" (click)="onPageChange(currentPage - 1)" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item" *ngFor="let page of getPages()" [class.active]="page === currentPage">
                    <a class="page-link" (click)="onPageChange(page)">{{ page }}</a>
                  </li>
                  <li class="page-item" [class.disabled]="currentPage === totalPages()">
                    <a class="page-link" (click)="onPageChange(currentPage + 1)" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

  <!-- Editar questões -->
<div class="modal fade" id="editQuestion" tabindex="-1"
aria-labelledby="editQuestionLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-fullscreen">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5 me-2" id="editQuestionLabel">
        <i class="bi bi-pencil-square"></i> Editar questão
      </h1>
    </div>
    <div class="modal-body">
        <p class="card-text fw-italic" *ngIf="editQuestion==null">
            Não há questões para editar aqui.
        </p>
    </div>
    <div class="modal-body p-4"  *ngIf="editQuestion!=null">
        <!-- Categorias -->
        <span class="p-1 m-2">
            <h3><i class="bi bi-bookmark"></i> Categorias</h3>
            <form>
                <div class="input-group mb-4">
                    <input type="text" class="form-control border border-2" 
                    aria-label="Adicione uma category" aria-describedby="btncategoryAddNew"
                    autosize name="category" id="category" #categoryInput>
                    <button class="btn btn-primary" type="button"
                    (click)="editQuestion.categories.push(categoryInput.value)"
                    id="btncategoryAddNew"><i class="bi bi-plus-circle"></i></button>                                
                </div>
            </form>
            <form *ngFor="let category of editQuestion?.categories; let iCategories=index">
                <div class="input-group mb-1">
                    
                    <input type="text" class="form-control bg-light" 
                    aria-label="Recipient's username" aria-describedby="btncategoryRemoveNew"
                    autosize name="{{'category'+editQuestion._id}}" 
                    id="{{'category'+editQuestion._id}}" 
                    [ngModel]="editQuestion.categories[iCategories]">

                    <button class="btn btn-outline-danger" type="button"
                    (click)="editQuestion.categories.splice(iCategories, 1)"
                    id="btncategoryRemoveNew"><i class="bi bi-trash"></i></button>
                </div>
            </form>
        </span>
        <!-- Enunciado da questão -->
        <span class="p-1 m-2">
            <h3><i class="bi bi-question-circle"></i> Enunciado</h3>
            <form *ngIf="editQuestion">
                <quill-editor class="form-control border-0 mb-2" 
                name="{{'statement'+editQuestion._id}}" id="{{'statement'+editQuestion._id}}"
                [(ngModel)]="editQuestion.statement"></quill-editor>
            </form>
        </span>
        <!-- Alternativas -->
        <span class="p-1 m-2">
            <h3><i class="bi bi-check-circle"></i> Alternativas</h3>
            <form>
                <div class="mb-4 text-center">
                    <quill-editor name="newAlternative" class="form-control border-0 mb-2"
                    [(ngModel)]="newAlternative"></quill-editor>

                    <button class="btn btn-primary form-control border-0 mb-2" type="button"
                    (click)="editQuestion.alternatives.push(newAlternative)"
                    id="btnnewAlternativeInEdit"><i class="bi bi-plus-circle"></i> Adicione o conteúdo acima em uma alterntaiva.</button>                                
                    <small class="text-muted fw-italic">Use texto simples pra melhor usabilidade do usuário.</small>

                    
                </div>
                <div class="mb-2" *ngFor="let alternative of editQuestion.alternatives; trackBy: trackByQuestionId; let iAlt=index">
                    <quill-editor class="form-control border-0 mb-2" 
                    name="{{'question'+editQuestion._id+'alt'+'-'+iAlt}}"
                    id="{{'question'+editQuestion._id+'alt'+'-'+iAlt}}"
                    [(ngModel)]="editQuestion.alternatives[iAlt]"
                    ></quill-editor>
                    
                    <span class="row">
                        <div class="col-6">
                            
                            <button class="btn btn-outline-secondary form-control fw-bold" type="button" id="btnAnswer"
                            [ngClass]="{'text-success':editQuestion.answer==iAlt, 'text-danger':editQuestion.answer!=iAlt}"
                            (click)="editQuestion.answer=iAlt">

                            <span *ngIf="editQuestion.answer==iAlt">
                                <i class="bi bi-check-circle"></i> <br> Correto
                            </span>
                            <span *ngIf="editQuestion.answer!=iAlt">
                                <i class="bi bi-x-circle"></i> <br> Incorreto
                            </span>
                            
                        </button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-outline-danger form-control" type="button"
                            (click)="editQuestion.alternatives.splice(iAlt, 1)"
                            id="btnAlternativeRemove"><i class="bi bi-trash"></i> <br> Remover</button>
                        </div>
                    </span>
                </div>
            </form>
        </span>
        <!-- Solução comentada -->
        <span class="p-1 m-2">
            <h3><i class="bi bi-check-circle-fill"></i> Solução comentada</h3>
            <form>
                <quill-editor class="form-control border-0 mb-2" 
                name="{{'comment'+editQuestion._id}}" id="{{'comment'+editQuestion._id}}"
                [(ngModel)]="editQuestion.comment"></quill-editor>
            </form>
        </span>
    </div>
    <div class="card-footer text-end pb-2">
        <button class="btn btn-light btn-sm m-1" 
        (click)="editQuestion=null"
        type="button" data-bs-dismiss="modal">Sair</button>
        <button class="btn btn-primary btn-sm m-1" 
        *ngIf="editQuestion"
        (click)="updateQuestion(editQuestion)"
        type="button" data-bs-dismiss="modal">Finalizar edição</button>
    </div>
  </div>
</div>
</div>
  