<div class="container">

</div>


<!-- pagination.component.html -->

<div class="container pt-4 mt-4">
    <div class="row">
        <div class="col">
            <!-- QUESTÕES -->
            <div class="row justify-content-end">
                <div class="col-8">
                    <nav aria-label="Page navigation" class="text-center">
                        <ul class="pagination">
                          <li class="page-item" [class.disabled]="currentPage === 1">
                            <a class="page-link" (click)="onPageChange(currentPage - 1)" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                            </a>
                          </li>
                          <li class="page-item" *ngFor="let page of getPages()" [class.active]="page === currentPage">
                            <a class="page-link" (click)="onPageChange(page)">{{ page }}</a>
                          </li>
                          <li class="page-item" [class.disabled]="currentPage === totalPages()">
                            <a class="page-link" (click)="onPageChange(currentPage + 1)" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                            </a>
                          </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-4">
                    <div class="input-group mb-4">
                        <input type="text" class="form-control border border-2" 
                        aria-label="itens por página" aria-describedby="reloadBtn"
                        autosize name="pageSize" id="pageSize" [(ngModel)]="pageSize">
                        <button id="reloadBtn" class="btn btn-light btn-sm"
                        (click)="loadData()"><i class="bi bi-arrow-clockwise"></i></button>                               
                    </div>
                </div>
            </div>
            <span *ngIf="questions.length==0" class="text-center text-muted mt-4 fw-italic">
                <br><br><br>
                <div class="alert alert-light" role="alert">
                    <p><em>Crie questões e em seguida salve no banco de dados.</em></p>
                    <button type="button" class="btn btn-outline-dard m-2" routerLink="">
                        <i class="bi bi-robot"></i> Criar questões
                    </button>
                </div>
            </span>
            <span *ngIf="questions.length>0">
                <div class="card mb-4 animate__animated animate__fadeIn" 
                *ngFor="let question of questions; let iQuestions=index">
                    <div class="card-header">
                        #{{iQuestions+1}} 
                    </div>
                    <div class="card-body">
                        <!-- TAGS -->
                        <span>
                            <span class="badge rounded-pill text-bg-light m-1" 
                                *ngFor="let tag of question.categories">
                                {{decodificarSequenciasUnicode(tag)}}
                            </span>
                        </span>
                        <!-- QUESTION STATEMENT -->
                        <span [innerHTML]="question.statement"></span>
                    </div>
                    <div class="card-body">
                        <!-- ALTERNATIVES DISPLAY -->
                        <div class="list-group">
                            <button type="button" 
                            class="list-group-item list-group-item-action"
                            *ngFor="let alternative of question.alternatives; let iAlternative=index"
                            [ngClass]="{
                                'bg-light text-success fw-bold': iAlternative==question.answer
                            }">
                            <span [innerHTML]="alternative"></span>
                            </button>
                        </div>
                    </div>
                    <div class="card-body mt-4">
                        <h6 class="display-6">Solução comentada</h6>
                        <span [innerHTML]="question.comment"></span>
                    </div>
                    <div class="card-footer text-end">
                        <button class="btn btn-outline-primary btn-sm m-1" 
                        type="button" 
                        data-bs-toggle="modal" 
                        data-bs-target="#editQuestion"
                        (click)="edit[iQuestions]=true">
                        <i class="bi bi-pencil-square"></i> Editar</button>

                        <button class="btn btn-danger btn-sm m-1" 
                            (click)="removeQuestion(question._id)">
                            <i class="bi bi-trash"></i> Remover
                        </button>
                    </div>
                </div>
            </span>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 text-center flex">
            <nav aria-label="Page navigation" class="text-center">
                <ul class="pagination">
                  <li class="page-item" [class.disabled]="currentPage === 1">
                    <a class="page-link" (click)="onPageChange(currentPage - 1)" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item" *ngFor="let page of getPages()" [class.active]="page === currentPage">
                    <a class="page-link" (click)="onPageChange(page)">{{ page }}</a>
                  </li>
                  <li class="page-item" [class.disabled]="currentPage === totalPages()">
                    <a class="page-link" (click)="onPageChange(currentPage + 1)" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
            </nav>
        </div>
    </div>
  </div>

  <!-- Editar questões -->
<div class="modal fade" id="editQuestion" tabindex="-1"
aria-labelledby="editQuestionLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-fullscreen">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5 me-2" id="editQuestionLabel">
        <i class="bi bi-pencil-square"></i> Editar questão
      </h1>
    </div>
    <div class="modal-body">
        <p class="card-text fw-italic" *ngIf="!edit[mapIndexOfEdits()]">
            Não há questões para editar aqui.
        </p>
    </div>
    <div class="modal-body p-4"  *ngIf="edit[mapIndexOfEdits()]">
        <!-- Categorias -->
        <span class="p-1 m-2">
            <h3><i class="bi bi-bookmark"></i> Categorias</h3>
            <form>
                <div class="input-group mb-4">
                    <input type="text" class="form-control border border-2" 
                    aria-label="Adicione uma tag" aria-describedby="btnTagAddNew"
                    autosize name="tag" id="tag" #tagInput>
                    <button class="btn btn-primary" type="button"
                    (click)="questions[mapIndexOfEdits()].categories.push(tagInput.value)"
                    id="btnTagAddNew"><i class="bi bi-plus-circle"></i></button>                                
                </div>
            </form>
            <form *ngFor="let tag of questions[mapIndexOfEdits()]?.categories; let iCategories=index">
                <div class="input-group mb-1">
                    
                    <input type="text" class="form-control bg-light" 
                    aria-label="Recipient's username" aria-describedby="btnTagRemoveNew"
                    autosize name="{{'tag'+mapIndexOfEdits()}}" 
                    id="{{'tag'+mapIndexOfEdits()}}" 
                    [ngModel]="questions[mapIndexOfEdits()].categories[iCategories]">

                    <button class="btn btn-outline-danger" type="button"
                    (click)="questions[mapIndexOfEdits()].categories.splice(iCategories, 1)"
                    id="btnTagRemoveNew"><i class="bi bi-trash"></i></button>
                </div>
            </form>
        </span>
        <!-- Enunciado da questão -->
        <span class="p-1 m-2">
            <h3><i class="bi bi-question-circle"></i> Enunciado</h3>
            <form *ngIf="edit.length>0">
                <quill-editor class="form-control border-0 mb-2" 
                name="{{'statement'+mapIndexOfEdits()}}" id="{{'statement'+mapIndexOfEdits()}}"
                [(ngModel)]="questions[mapIndexOfEdits()].statement"></quill-editor>
            </form>
        </span>
        <!-- Alternativas -->
        <span class="p-1 m-2">
            <h3><i class="bi bi-check-circle"></i> Alternativas</h3>
            <form>
                <div class="mb-4 text-center">
                    <quill-editor name="newAlternative" class="form-control border-0 mb-2"
                    [(ngModel)]="newAlternative"></quill-editor>

                    <button class="btn btn-primary form-control border-0 mb-2" type="button"
                    (click)="questions[mapIndexOfEdits()].alternatives.push(newAlternative)"
                    id="btnnewAlternativeInEdit"><i class="bi bi-plus-circle"></i> Adicione o conteúdo acima em uma alterntaiva.</button>                                
                    <small class="text-muted fw-italic">Use texto simples pra melhor usabilidade do usuário.</small>

                    
                </div>
                <div class="mb-2" *ngFor="let alternative of questions[mapIndexOfEdits()].alternatives; trackBy: trackByQuestionId; let iAlt=index">
                    <quill-editor class="form-control border-0 mb-2" 
                    name="{{'question'+mapIndexOfEdits()+'alt'+'-'+iAlt}}"
                    id="{{'question'+mapIndexOfEdits()+'alt'+'-'+iAlt}}"
                    [(ngModel)]="questions[mapIndexOfEdits()].alternatives[iAlt]"
                    ></quill-editor>
                    
                    <span class="row">
                        <div class="col-6">
                            
                            <button class="btn btn-outline-secondary form-control fw-bold" type="button" id="btnAnswer"
                            [ngClass]="{'text-success':questions[mapIndexOfEdits()].answer==iAlt, 'text-danger':questions[mapIndexOfEdits()].answer!=iAlt}"
                            (click)="questions[mapIndexOfEdits()].answer=iAlt">

                            <span *ngIf="questions[mapIndexOfEdits()].answer==iAlt">
                                <i class="bi bi-check-circle"></i> <br> Correto
                            </span>
                            <span *ngIf="questions[mapIndexOfEdits()].answer!=iAlt">
                                <i class="bi bi-x-circle"></i> <br> Incorreto
                            </span>
                            
                        </button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-outline-danger form-control" type="button"
                            (click)="questions[mapIndexOfEdits()].alternatives.splice(iAlt, 1)"
                            id="btnAlternativeRemove"><i class="bi bi-trash"></i> <br> Remover</button>
                        </div>
                    </span>
                </div>
            </form>
        </span>
        <!-- Solução comentada -->
        <span class="p-1 m-2">
            <h3><i class="bi bi-check-circle-fill"></i> Solução comentada</h3>
            <form>
                <quill-editor class="form-control border-0 mb-2" 
                name="{{'comment'+mapIndexOfEdits()}}" id="{{'comment'+mapIndexOfEdits()}}"
                [(ngModel)]="questions[mapIndexOfEdits()].comment"></quill-editor>
            </form>
        </span>
    </div>
    <div class="card-footer text-end pb-2">
        <button class="btn btn-light btn-sm m-1" 
        (click)="edit[mapIndexOfEdits()]=false"
        type="button" data-bs-dismiss="modal">Sair</button>
        <button class="btn btn-primary btn-sm m-1" 
        *ngIf="edit[mapIndexOfEdits()]"
        (click)="edit[mapIndexOfEdits()]=false"
        type="button" data-bs-dismiss="modal">Finalizar edição</button>
    </div>
  </div>
</div>
</div>
  