<div class="container pt-4 mt-4">
    <div class="row pt-4 align-items-center">
        <div class="col pb-4">
            <span *ngIf="questions.length==0" class="text-center text-muted mt-4 fw-italic">
                <br><br><br>
                <div class="alert alert-light" role="alert">
                    <p><em>Crie questões e em seguida salve no banco de dados.</em></p>
                    <div class="btn-group dropup">
                        <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-robot"></i> Criar com IA
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item cursor" data-bs-toggle="modal" data-bs-target="#createFromPdfModal">
                                    <i class="bi bi-filetype-pdf"></i> A partir de .pdf
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item cursor" data-bs-toggle="modal" data-bs-target="#createFromTextModal">
                                    <i class="bi bi-body-text"></i> A partir de texto puro
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item cursor" data-bs-toggle="modal" 
                                (click)="clearNewQuestion()"
                                data-bs-target="#newQuestionModal">
                                    <i class="bi bi-pencil"></i> Criar questão (manual)
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </span>

            <!-- QUESTÕES -->
            <span *ngIf="questions.length>0">
                <div class="card mb-4 animate__animated animate__fadeIn" 
                *ngFor="let question of questions; let iQuestions=index">
                    <div class="card-header">
                        #{{iQuestions+1}} 
                    </div>
                    <div class="card-body">
                        <!-- Categorias -->
                        <span>
                            <span class="badge rounded-pill text-bg-light m-1" 
                                *ngFor="let tag of question.categories">
                                {{decodificarSequenciasUnicode(tag)}}
                            </span>
                        </span>
                        <!-- QUESTION STATEMENT -->
                        <span [innerHTML]="question.statement"></span>
                    </div>
                    <div class="card-body">
                        <!-- ALTERNATIVES DISPLAY -->
                        <div class="list-group">
                          <button type="button" 
                            class="list-group-item list-group-item-action"
                            *ngFor="let alternative of question.alternatives; let iAlternative=index"
                            [ngClass]="{
                                'bg-light text-success fw-bold': iAlternative==question.answer
                            }">
                            <span [innerHTML]="alternative"></span>
                          </button>
                        </div>
                    </div>
                    <div class="card-body mt-4">
                        <h6 class="display-6">Solução comentada</h6>
                        <span [innerHTML]="question.comment"></span>
                    </div>
                    <div class="card-footer text-end">
                        <button class="btn btn-outline-primary btn-sm m-1" 
                        type="button" 
                        (click)="edit[iQuestions]=true"
                        data-bs-toggle="modal" data-bs-target="#editQuestion">
                        <i class="bi bi-pencil-square"></i> Editar</button>
     
                        <button class="btn btn-danger btn-sm m-1" 
                            (click)="removeQuestion(iQuestions)">
                            <i class="bi bi-trash"></i> Remover
                        </button>
                        <button class="btn btn-success btn-sm m-1" (click)="saveOneQuestionInDB(question)">
                            <i class="bi bi-save"></i> Salvar 
                        </button>
                    </div>
                </div>
            </span>
        </div>
    </div>

    <br><br>
    <div class="row mt-4">
        <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-bottom justify-content-center">
            <div class="btn-group dropup">
                <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-robot"></i> Criar
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item cursor" data-bs-toggle="modal" data-bs-target="#createFromPdfModal">
                            <i class="bi bi-filetype-pdf"></i> A partir de .pdf
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item cursor" data-bs-toggle="modal" data-bs-target="#createFromTextModal">
                            <i class="bi bi-body-text"></i> A partir de texto puro
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item cursor" data-bs-toggle="modal" 
                        (click)="clearNewQuestion()"
                        data-bs-target="#newQuestionModal">
                            <i class="bi bi-pencil"></i> Criar questão (manual)
                        </a>
                    </li>
                </ul>
            </div>
            <form class="d-flex" role="button">
                <button class="btn btn-danger m-1" type="button" [disabled]="questions.length==0"
                    (click)="removeAll()">
                    <i class="bi bi-trash"></i> Remover tudo
                </button>
                <button class="btn btn-success m-1" type="button" [disabled]="questions.length==0"
                    (click)="saveQuestionsInDB(questions)">
                    <i class="bi bi-save"></i> Salvar tudo
                </button>
            </form>
        </nav>
    </div>
</div>


<!-- Criar questões a partir do pdf -->
<div class="modal fade" id="createFromPdfModal" tabindex="-1" 
    aria-labelledby="createFromPdfModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 me-2" id="createFromPdfModalLabel">
            <i class="bi bi-filetype-pdf"></i> A partir de .pdf
          </h1>
        </div>
        <div class="modal-body">
            <span>
                <form class="form">
                    <div class="mb-2">
                        <label for="model" class="form-label">
                            Modelo - Do mais barato para o mais caro.
                        </label>
                        <select name="model" id="model"
                        class="form-control"
                        aria-describedby="modelHelp"
                        (change)="onOptionChange($event)">
                        <option *ngFor="let m of models; let i=index" 
                            [value]="m" 
                            [selected]="m == model">
                            {{m}}
                        </option>
                        </select>
                    </div>
                    <div class="mb-2">
                        <label for="codProva" class="form-label">CONCURSO</label>
                        <input class="form-control form-control-sm" required
                            placeholder="Ex.: CFSD, CBFN"
                            id="codProva" name="codProva" type="text" [(ngModel)]="codProva">
                    </div>
                    <div class="mb-2">
                        <label for="provaFile" class="form-label">Prova .pdf</label>
                        <input class="form-control form-control-sm" required
                            id="provaFile" name="provaFile" type="file" (change)="onProvaSelected($event)">
                    </div>
                    <div class="mb-2">
                        <label for="gabaritoFile" class="form-label">Gabarito .pdf</label>
                        <input class="form-control form-control-sm" 
                            id="gabaritoFile" name="gabaritoFile" type="file" (change)="onGabaritoSelected($event)">
                    </div>
                    <div class="mb-2">
                        <label for="editalFile" class="form-label">Edital .pdf</label>
                        <input class="form-control form-control-sm" 
                            id="editalFile" name="editalFile" type="file" (change)="onEditalSelected($event)">
                    </div>
                </form>
                <div class="alert alert-secondary mt-4" role="alert">
                    <h6>
                        Custos com IA
                    </h6>
                    <p>
                        ${{credits}} Custo da última geração neste dispositivo.
                    </p>
                    <p>
                        ${{totalCredits}} Custo total das gerações atuais neste dispositivo.
                    </p>
                    <button class="btn btn-light btn-sm" (click)="resetCredits()">Reset</button>
                </div>
            </span>
        </div>
        <div class="card-footer text-center pt-2">
            <button #closeBtn type="button" class="btn btn-outline-dark mb-2" data-bs-dismiss="modal">Sair</button>
            <button type="button" class="btn btn-dark mb-2 ms-1"
                (click)="questionsCreateWithPdf()" [disabled]="!provaFile">
                <span *ngIf="!uploadSpinner"><i class="bi bi-filetype-pdf"></i> Criar questões com IA (pdf)</span>
            </button>
        </div>
      </div>
    </div>
</div>

<!-- Criar questões a partir do texto -->
<div class="modal fade" id="createFromTextModal" tabindex="-1" 
    aria-labelledby="createFromTextModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 me-2" id="createFromTextModalLabel">
            <i class="bi bi-body-text"></i> A partir de texto puro
          </h1>
        </div>
        <div class="modal-body">
            <span>
                <form #formTypeText="ngForm" (blur)="saveFormQuestionByText()">
                    <div class="mb-2">
                        <label for="model" class="form-label">
                            Modelo - Do mais barato para o mais caro.
                        </label>
                        <select name="model" id="model"
                        class="form-control"
                        aria-describedby="modelHelp"
                        (change)="onOptionChange($event)">
                        <option *ngFor="let m of models; let i=index" 
                            [value]="m" 
                            [selected]="m == model">
                            {{m}}
                        </option>
                        </select>
                    </div>
                    <div class="mb-2">
                        <label for="codProva" class="form-label">CONCURSO</label>
                        <input class="form-control form-control-sm" required
                            placeholder="Ex.: CFSD, CBFN"
                            id="codProva" name="codProva" type="text" [(ngModel)]="codProva">
                    </div>
                    <div class="mb-2">
                        <label for="provaText" class="form-label">Prova ou questões da prova</label>
                        <textarea autosize class="form-control form-control-lg" rows="3" maxlength="20000" required
                            id="provaText" name="provaText" [(ngModel)]="provaText"></textarea>
                    </div>
                    <div class="mb-2">
                        <label for="gabaritoText" class="form-label">Gabarito</label>
                        <textarea class="form-control form-control-lg" rows="3" maxlength="20000" 
                            id="gabaritoText" name="gabaritoText" [(ngModel)]="gabaritoText"></textarea>
                    </div>
                    <div class="mb-2">
                        <label for="editalText" class="form-label">Edital</label>
                        <textarea class="form-control form-control-lg" rows="3" maxlength="20000" 
                            id="editalText" name="editalText" [(ngModel)]="editalText"></textarea>
                    </div>
                </form>
                <div class="alert alert-secondary mt-4" role="alert">
                    <h6>
                        Custos com IA
                    </h6>
                    <p>
                        ${{credits}} Custo da última geração neste dispositivo.
                    </p>
                    <p>
                        ${{totalCredits}} Custo total das gerações atuais neste dispositivo.
                    </p>
                    <button class="btn btn-light btn-sm" (click)="resetCredits()">Reset</button>
                </div>
            </span>
        </div>
        <div class="card-footer text-center pt-2">
            <button #closeBtn type="button" class="btn btn-outline-dark mb-2" data-bs-dismiss="modal">Sair</button>
            <button type="button" class="btn btn-dark mb-2 ms-1"
                [disabled]="!provaText"
                (click)="questionsCreateWithPureText()">
                <span *ngIf="!uploadSpinner"><i class="bi bi-body-text"></i> Criar questões com IA (texto)</span>
            </button>
        </div>
      </div>
    </div>
</div>

<!-- Editar questões -->
<div class="modal fade" id="editQuestion" tabindex="-1"
    aria-labelledby="editQuestionLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 me-2" id="editQuestionLabel">
            <i class="bi bi-pencil-square"></i> Editar questão
          </h1>
        </div>
        <div class="modal-body">
            <p class="card-text fw-italic" *ngIf="!edit[mapIndexOfEdits()]">
                Não há questões para editar aqui.
            </p>
        </div>
        <div class="modal-body p-4"  *ngIf="edit[mapIndexOfEdits()]">
            <!-- Categorias -->
            <span class="p-1 m-2">
                <h3><i class="bi bi-bookmark"></i> Categorias</h3>
                <form>
                    <div class="input-group mb-4">
                        <input type="text" class="form-control border border-2" 
                        aria-label="Adicione uma tag" aria-describedby="btnTagAddNew"
                        autosize name="tag" id="tag" #tagInput>
                        <button class="btn btn-primary" type="button"
                        (click)="questions[mapIndexOfEdits()].categories.push(tagInput.value)"
                        id="btnTagAddNew"><i class="bi bi-plus-circle"></i></button>                                
                    </div>
                </form>
                <form *ngFor="let tag of questions[mapIndexOfEdits()]?.categories; let iCategories=index">
                    <div class="input-group mb-1">
                        
                        <input type="text" class="form-control bg-light" 
                        aria-label="Recipient's username" aria-describedby="btnTagRemoveNew"
                        autosize name="{{'tag'+mapIndexOfEdits()}}" 
                        id="{{'tag'+mapIndexOfEdits()}}" 
                        [ngModel]="questions[mapIndexOfEdits()].categories[iCategories]">
    
                        <button class="btn btn-outline-danger" type="button"
                        (click)="questions[mapIndexOfEdits()].categories.splice(iCategories, 1)"
                        id="btnTagRemoveNew"><i class="bi bi-trash"></i></button>
                    </div>
                </form>
            </span>
            <!-- Enunciado da questão -->
            <span class="p-1 m-2">
                <h3><i class="bi bi-question-circle"></i> Enunciado</h3>
                <form *ngIf="edit.length>0">
                    <quill-editor class="form-control border-0 mb-2" 
                    (blur)="saveQuestionsInLocalStorage()"
                    name="{{'statement'+mapIndexOfEdits()}}" id="{{'statement'+mapIndexOfEdits()}}"
                    [(ngModel)]="questions[mapIndexOfEdits()].statement"></quill-editor>
                </form>
            </span>
            <!-- Alternativas -->
            <span class="p-1 m-2">
                <h3><i class="bi bi-check-circle"></i> Alternativas</h3>
                <form>
                    <div class="mb-4 text-center">
                        <quill-editor name="newAlternative" class="form-control border-0 mb-2"
                        [(ngModel)]="newAlternative"></quill-editor>

                        <button class="btn btn-primary form-control border-0 mb-2" type="button"
                        (click)="questions[mapIndexOfEdits()].alternatives.push(newAlternative)"
                        id="btnnewAlternativeInEdit"><i class="bi bi-plus-circle"></i> Adicione o conteúdo acima em uma alterntaiva.</button>                                
                        <small class="text-muted fw-italic">Use texto simples pra melhor usabilidade do usuário.</small>

                        
                    </div>
                    <div class="mb-2" *ngFor="let alternative of questions[mapIndexOfEdits()].alternatives; trackBy: trackByQuestionId; let iAlt=index">
                        <quill-editor class="form-control border-0 mb-2" 
                        name="{{'question'+mapIndexOfEdits()+'alt'+'-'+iAlt}}"
                        id="{{'question'+mapIndexOfEdits()+'alt'+'-'+iAlt}}"
                        [(ngModel)]="questions[mapIndexOfEdits()].alternatives[iAlt]"
                        ></quill-editor>
                        
                        <span class="row">
                            <div class="col-6">
                                
                                <button class="btn btn-outline-secondary form-control fw-bold" type="button" id="btnAnswer"
                                [ngClass]="{'text-success':questions[mapIndexOfEdits()].answer==iAlt, 'text-danger':questions[mapIndexOfEdits()].answer!=iAlt}"
                                (click)="questions[mapIndexOfEdits()].answer=iAlt; saveQuestionsInLocalStorage();">

                                <span *ngIf="questions[mapIndexOfEdits()].answer==iAlt">
                                    <i class="bi bi-check-circle"></i> <br> Correto
                                </span>
                                <span *ngIf="questions[mapIndexOfEdits()].answer!=iAlt">
                                    <i class="bi bi-x-circle"></i> <br> Incorreto
                                </span>
                                
                            </button>
                            </div>
                            <div class="col-6">
                                <button class="btn btn-outline-danger form-control" type="button"
                                (click)="questions[mapIndexOfEdits()].alternatives.splice(iAlt, 1); saveQuestionsInLocalStorage();"
                                id="btnAlternativeRemove"><i class="bi bi-trash"></i> <br> Remover</button>
                            </div>
                        </span>
                    </div>
                </form>
            </span>
            <!-- Solução comentada -->
            <span class="p-1 m-2">
                <h3><i class="bi bi-check-circle-fill"></i> Solução comentada</h3>
                <form>
                    <quill-editor class="form-control border-0 mb-2" 
                    (blur)="saveQuestionsInLocalStorage()"
                    name="{{'comment'+mapIndexOfEdits()}}" id="{{'comment'+mapIndexOfEdits()}}"
                    [(ngModel)]="questions[mapIndexOfEdits()].comment"></quill-editor>
                </form>
            </span>
        </div>
        <div class="card-footer text-end pb-2">
            <button class="btn btn-light btn-sm m-1" 
            type="button" data-bs-dismiss="modal"
            (click)="edit[mapIndexOfEdits()]=false;">Sair</button>
            <button class="btn btn-primary btn-sm m-1" 
            *ngIf="edit[mapIndexOfEdits()]"
            (click)="edit[mapIndexOfEdits()]=false; saveQuestionsInLocalStorage();"
            type="button" data-bs-dismiss="modal">Finalizar edição</button>
        </div>
      </div>
    </div>
</div>

<!-- Nova questão -->
<div class="modal fade" id="newQuestionModal" tabindex="-1"
    aria-labelledby="newQuestionLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 me-2" id="newQuestionLabel">
            <i class="bi bi-pencil-square"></i> Nova questão
          </h1>
        </div>
        <div class="modal-body p-4">
            <!-- Categorias -->
            <span class="p-1 m-2">
                <h3><i class="bi bi-bookmark"></i> Categorias</h3>
                <form>
                    <div class="input-group mb-4">
                        <input type="text" class="form-control border border-2" 
                        aria-label="Adicione uma tag" aria-describedby="btnTagAddNew"
                        autosize name="tag" id="tag" #tagInput>
                        <button class="btn btn-primary" type="button"
                        (click)="newQuestion.categories.push(tagInput.value)"
                        id="btnTagAddNew"><i class="bi bi-plus-circle"></i></button>                                
                    </div>
                </form>
                <form *ngFor="let tag of newQuestion.categories; trackBy: trackByQuestionId; let iCategories=index">
                    <div class="input-group mb-1">
                        
                        <input type="text" class="form-control bg-light" 
                        aria-label="Recipient's username" aria-describedby="btnTagRemoveNew"
                        autosize name="{{'tag'+iCategories}}" 
                        id="{{'tag'+iCategories}}" 
                        [(ngModel)]="newQuestion.categories[iCategories]">
    
                        <button class="btn btn-outline-danger" type="button"
                        (click)="newQuestion.categories.splice(iCategories, 1)"
                        id="btnTagRemoveNew"><i class="bi bi-trash"></i></button>
                    </div>
                </form>
            </span>
            <!-- Enunciado da questão -->
            <span class="p-1 m-2">
                <h3><i class="bi bi-question-circle"></i> Enunciado</h3>
                <form>
                    <quill-editor class="form-control border-0 mb-2" 
                    name="newStatement" id="newStatement"
                    [(ngModel)]="newQuestion.statement"></quill-editor>
                </form>
            </span>
            <!-- Alternativas -->
            <span class="p-1 m-2">
                <h3><i class="bi bi-check-circle"></i> Alternativas</h3>
                <form>
                    <div class="mb-4 text-center">
                        <quill-editor name="newAlternative" class="form-control border-0 mb-2"
                        [(ngModel)]="newAlternative"></quill-editor>

                        <button class="btn btn-primary form-control border-0 mb-2" type="button"
                        (click)="newQuestion.alternatives.push(newAlternative)"
                        id="btnnewAlternativeInEdit"><i class="bi bi-plus-circle"></i> Adicione o conteúdo acima em uma alterntaiva.</button>                                
                        <small class="text-muted fw-italic">Use texto simples pra melhor usabilidade do usuário.</small>

                        
                    </div>
                    <div class="mb-2" 
                    *ngFor="let alternative of newQuestion.alternatives; trackBy: trackByQuestionId; let iAlt=index">
                        <quill-editor class="form-control border-0 mb-2" 
                        name="{{'question'+iAlt+'alt'+'-'+iAlt}}"
                        id="{{'question'+iAlt+'alt'+'-'+iAlt}}"
                        [(ngModel)]="newQuestion.alternatives[iAlt]"
                        ></quill-editor>
                        
                        <span class="row">
                            <div class="col-6">
                                
                                <button class="btn btn-outline-secondary form-control fw-bold" type="button" id="btnAnswer"
                                [ngClass]="{'text-success':newQuestion.answer==iAlt, 'text-danger':newQuestion.answer!=iAlt}"
                                (click)="newQuestion.answer=iAlt; saveQuestionsInLocalStorage();">

                                <span *ngIf="newQuestion.answer==iAlt">
                                    <i class="bi bi-check-circle"></i> <br> Correto
                                </span>
                                <span *ngIf="newQuestion.answer!=iAlt">
                                    <i class="bi bi-x-circle"></i> <br> Incorreto
                                </span>
                                
                            </button>
                            </div>
                            <div class="col-6">
                                <button class="btn btn-outline-danger form-control" type="button"
                                (click)="newQuestion.alternatives.splice(iAlt, 1); saveQuestionsInLocalStorage();"
                                id="btnAlternativeRemove"><i class="bi bi-trash"></i> <br> Remover</button>
                            </div>
                        </span>
                    </div>
                </form>
            </span>
            <!-- Solução comentada -->
            <span class="p-1 m-2">
                <h3><i class="bi bi-check-circle-fill"></i> Solução comentada</h3>
                <form>
                    <quill-editor class="form-control border-0 mb-2" 
                    (blur)="saveQuestionsInLocalStorage()"
                    name="newQuestionComment" id="newQuestionComment"
                    [(ngModel)]="newQuestion.comment"></quill-editor>
                </form>
            </span>
        </div>
        <div class="card-footer text-center pt-2">
            <button class="btn btn-outline-dark mb-2" type="button" data-bs-dismiss="modal">Sair</button>
            <button class="btn btn-dark mb-2 ms-1" 
            (click)="questions.push(newQuestion); saveQuestionsInLocalStorage();"
            type="button" data-bs-dismiss="modal">Adicionar</button>
        </div>
      </div>
    </div>
</div>