<br><br><br>
<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">
        Módulos
        <button class="btn btn-outline-primary btn-sm m-1" type="button" 
        id="newModuleBtn"
        data-bs-toggle="collapse" 
        data-bs-target="#newModule" 
        aria-expanded="false" 
        aria-controls="newModule">
            <i class="bi bi-card-checklist"></i> Novo módulo
        </button>
    </h2>
    <div class="row collapse pb-2 mb-4 border-bottom" id="newModule">
        <div class="col">
            <form>
                <div class="m-1">
                    <label for="inputTitle" class="form-label">Título</label>
                    <input type="text" id="inputTitle" 
                    placeholder="Ex.: Soldado Fuzileiro Naval"
                    class="form-control" aria-describedby="titleHelpBlock" name="title"
                    [(ngModel)]="newModule.title">
                    <div id="titleHelpBlock" class="form-text">
                    Escreva um título para o módulo.
                    </div>
                </div>
                <div class="m-1">
                    <label for="inputDescription" class="form-label">Descrição</label>

                    <textarea id="inputDescription" 
                    placeholder="Escreva aqui uma descrição."
                    class="form-control" aria-describedby="descriptionHelpBlock" 
                    name="inputDescription"
                    [(ngModel)]="newModule.description"></textarea>
                    <div id="descriptionHelpBlock" class="form-text">
                    Escreva uma descrição para o módulo.
                    </div>
                </div>
                <div class="m-1">
                    <label for="inputImageUrl" class="form-label">Imagem</label>
                    <input type="text" id="inputImageUrl" 
                    placeholder="Ex.: Soldado Fuzileiro Naval"
                    class="form-control" aria-describedby="imageUrlHelpBlock" name="imageUrl"
                    [(ngModel)]="newModule.imageUrl">
                    <div id="imageUrlHelpBlock" class="form-text">
                    Uma url de Imagem
                    </div>
                </div>

                <div class="mt-3">
                    <button class="btn btn-outline-primary btn-sm" type="button" 
                    data-bs-toggle="collapse" 
                    data-bs-target="#newIndice" 
                    aria-expanded="false" 
                    aria-controls="newIndice">
                        Novo índice ({{newModule.indices.length}})
                    </button>
                </div>
                <fieldset class="collapse mt-3 bg-light p-2" id="newIndice">
                    <div class="m-1">
                        <label for="inputIndiceTitle" class="form-label">Título do índice</label>
                        <input type="text" id="inputIndiceTitle" 
                        placeholder="Ex.: Soldado Fuzileiro Naval"
                        class="form-control" aria-describedby="indiceTitleHelpBlock" 
                        name="indiceTitle"
                        #indiceTitle>
                        <div id="indiceTitleHelpBlock" class="form-text">
                            Um título para o índice.
                        </div>
                    </div>
                    <div class="mt-3">
                        <label for="searchFilters">Pesquise por módulos.</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="searchFilters" name="searchFilter"
                            placeholder="Ex.: Soldado Fuzileiro Naval" [(ngModel)]="searchFilter"
                            aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <span class="input-group-text" id="basic-addon2"><i class="bi bi-search"></i></span>
                        </div>
                        <span>
                            <button type="button" class="btn btn-outline-secondary btn-sm position-relative m-3"
                                *ngFor="let category of getCategories()"
                                (click)="filters.push(category); loadCategories();">
                                {{decodificarSequenciasUnicode(category._id)}}
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary text-white">
                                {{category.count}}
                                <span class="visually-hidden">unread messages</span>
                                </span>
                            </button>
                        </span>
                        <div class="card mt-2">
                            <div class="card-body" *ngIf="filters.length>0">
                                <h6>Filtro do índice</h6>
                                <button type="button" 
                                class="btn btn-outline-secondary btn-sm position-relative m-3"
                                *ngFor="let filter of filters; let i=index"
                                (click)="filters.splice(i, 1); loadCategories();">
                                    {{decodificarSequenciasUnicode(filter._id)}}
                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary text-white">
                                    {{filter.count}}
                                    <span class="visually-hidden">unread messages</span>
                                    </span>
                                </button>
                            </div>
                            <div class="card-body" *ngIf="filters.length==0">
                                <p class="card-text text-muted">Adicione filtros.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-6"></div>
                        <div class="col-6 text-end">
                            <button class="btn btn-outline-primary btn-sm"
                            (click)="newModule.indices.push({ title: indiceTitle.value, filters: mapFilters() })">Adicione o índice</button>
                        </div>
                    </div>
                </fieldset>

                <table class="table mt-2" *ngIf="newModule.indices.length>0">
                    <thead>
                        <tr>
                            <th class="text-start">
                                Índice
                            </th>
                            <th class="text-center">
                                Ação
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let indice of newModule.indices; let i=index">
                            <td class="text-start">
                                {{indice.title}}
                            </td>
                            <td class="text-end">
                                <button class="btn btn-danger" (click)="newModule.indices.splice(i, 1)">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="mt-4 text-end">
                    <button class="btn btn-light btn-lg me-1"
                    (click)="clearNewModule()">Limpar</button>
                    <button class="btn btn-primary btn-lg" *ngIf="!newModule?._id" 
                    (click)="saveOneModule(newModule)">Salvar Novo Módulo</button>
                    <button class="btn btn-outline-primary btn-lg" *ngIf="newModule?._id"
                    (click)="updateModule(newModule)">Atualizar módulo</button>
                </div>
            </form>
        </div>
    </div>
    <form>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="searchModule" name="searchModule"
            placeholder="Ex.: Soldado Fuzileiro Naval" [(ngModel)]="searchModule"
            aria-label="Recipient's username" aria-describedby="basic-addon2">
            <span class="input-group-text" id="basic-addon2"><i class="bi bi-search"></i></span>
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Imagem</th>
                <th>Módulo</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let module of getModules(); let i=index">
                <td>
                    <img src="{{module?.imageUrl}}" alt="" class="img-fluid rounded" width="50em" height="50em">
                </td>
                <td>
                    <h6>{{module.title}}</h6>
                    <p>{{module.description}}</p>
                    <table class="table mt-2" *ngIf="module.indices.length>0">
                        <thead>
                            <tr>
                                <th class="text-start">
                                    Índice
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indice of module.indices">
                                <td class="text-start">
                                    {{indice.title}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td class="text-center">
                    <button class="btn btn-light btn-sm m-1" (click)="editModule(module)">
                        <i class="bi bi-pencil-square"></i>
                    </button><br>
                    <button class="btn btn-danger btn-sm m-1" (click)="removeModules(module._id)">
                        <i class="bi bi-trash"></i>
                    </button><br>
                    <button class="btn btn-outline-success btn-sm m-1" routerLink="{{module._id}}"
                    routerLink="/modules/{{module._id}}"
                    [disabled]="module.indices.length===0">
                        <i class="bi bi-arrow-right-circle-fill ms-1"></i> 
                    </button><br>
                </td>
            </tr>
        </tbody>
    </table>
<!--     <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col shadow-sm pb-4" *ngFor="let module of getModules(); let i=index">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-transparent bg-gradient fs-2 mb-3">
            <img src="{{module.imageUrl}}" alt="Ícone" width="50em" height="50em"/>
        </div>          
        <h5 class="fs-2 text-body-emphasis">{{module.title}}</h5>
        <p>{{module.description}}</p>
        <a *ngIf="isAdmin()" (click)="editModule(module)" class="icon-link cursor me-1">
            Editar
        </a>
        <a *ngIf="isAdmin()" (click)="removeModules(module._id)" class="icon-link cursor me-1">
            Remover
        </a>       
        <button class="btn"
            [ngClass]="{'btn-primary btn-sm icon-link':module.indices.length>0, 'btn-outline-primary btn-sm icon-link':module.indices.length===0}"
            routerLink="{{module._id}}"
            [disabled]="module.indices.length===0">
            <span *ngIf="module.indices.length>0">Começar</span>
            <span *ngIf="module.indices.length===0">Em breve</span>
            <i class="bi bi-arrow-right-circle-fill ms-1"></i> 
        </button> 
      </div>
    </div> -->
</div>