<app-navbar></app-navbar>
<br><br><br>
<router-outlet></router-outlet>
<ngx-spinner class="mb-2"
  bdColor="rgba(255, 255, 255, 1)"
  [fullScreen]="true"
  template="<img class='img-fluid' src='assets/img/loading-2.gif' />"
>
<!-- <p class="text-secondary mt-2">Loading...</p> -->
</ngx-spinner>

<!-- <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size ="medium" color="#fff" type="square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner> -->
<app-login></app-login>