<app-navbar></app-navbar>
<router-outlet></router-outlet>
<ngx-spinner class="mb-2"
  bdColor="rgba(255, 255, 255, 1)"
  [fullScreen]="true"
  template="<img class='img-responsive' width='150px' height='150px' src='assets/img/obizu-loading.gif' />"
>
<!-- <p class="text-secondary mt-2">Loading...</p> -->
</ngx-spinner>

<!-- <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size ="medium" color="#fff" type="square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner> -->

<ngx-spinner name="question-ia-generator" bdColor="rgba(0, 0, 0, 0.8)" size ="medium" color="#fff" type="ball-atom" [fullScreen] = "true"><p style="color: white" > Criando com IA... </p></ngx-spinner>

<ngx-spinner name="question-manual-generator" bdColor="rgba(0, 0, 0, 0.8)" size ="medium" color="#fff" type="ball-atom" [fullScreen] = "true"><p style="color: white" > Criando manualmente... </p></ngx-spinner>